/* accordion - ilf */

#accordion-ilf-about,
#accordion-ilf-journey {
  display: block;
  margin: 0 30px 0 30px;
  padding: 20px 0;
}

h4.accordion-ilf {
  margin: 16px 0 14px !important;
  text-transform: uppercase;
  color: $gray-light;
}

.accordion-ilf:after {
  float: right;
  margin-left: 5px;
  content: '+';
  font-size: 1em;
  color: $gray-light;
}

.active:after {
  content: "-";
}

.panel-ilf {
    max-height: 0;
    background-color: none;
    border-bottom: solid 1px $gray-light;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel-ilf p.body {
  margin: 5px 0 25px 0;
  padding: 0 0 0 20px;
  font-size: .975em;
  line-height: 1.85;
}

/* END - CSS */
