/* SLIDES STYLING */
/* ==============================================*/

.bg-arrupe-dark { background-color: rgba(0,0,0,0); }

.arrupe-padding-intro {
	background: url('../images/pattern-spiration-light.png') #e2e2e2;
	background-color: #e2e2e2;
}

.desaturate {
	-webkit-filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-ms-filter: grayscale(70%);
	filter: grayscale(70%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.slide1{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9000;
}

/* intro panel */
.slide2{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: 500px;
	z-index: 9001;
}

.slide3{
	// background: url('../images/01-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 2 */
.slide4{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: 500px;
	z-index: 9002;
}

.slide5{
	// background: url('../images/02-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 3 */
.slide6{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: 500px;
	z-index: 9003;
}

.slide7{
	// background: url('../images/03-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 4 */
.slide8{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: auto;
	z-index: 9004;
}

.slide9{
	// background: url('../images/04-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 5 */
.slide10{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: auto;
	z-index: 9005;
}

.slide11{
	// background: url('../images/05-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 6 */
.slide12{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: 500px;
	z-index: 9006;
}

.slide13{
	// background: url('../images/06-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 7 */
.slide14{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: auto;
	z-index: 9007;
}

.slide15{
	// background: url('../images/07-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 8 */
.slide16{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: auto;
	z-index: 9008;
}

.slidenews{

	background-color:#666;
	height: auto;
	z-index: 9001;
}

section.arrupe-introduction .image-mobile img, .image-mobile { display: none; }


/*.slide1, .slide3, .slide5, .slide7, .slide9, .slide11, .slide13, .slide15 {
	background: url('http://placehold.it/1000x560') 50% 0 no-repeat fixed;
	background-color: #cccccc;
}*/

.image-mobile img { background-color: #cccccc; }




/*  FO on ILF below  ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#parallax-panel-two h1 span,
#parallax-panel-four h1 span,
#parallax-panel-six h1 span,
#parallax-panel-eight h1 span,
#parallax-panel-ten h1 span,
#parallax-panel-twelve h1 span,
#parallax-panel-fourteen h1 span {
	font-family:"Antenna Thin", sans-serif !important;
	font-weight:100;
	text-transform: uppercase;
	color:white;
}

#parallax-panel-two h1,
#parallax-panel-four h1,
#parallax-panel-six h1,
#parallax-panel-eight h1,
#parallax-panel-ten h1,
#parallax-panel-twelve h1,
#parallax-panel-fourteen h1 {
	font-family:"Antenna", sans-serif !important;
	font-weight:500;
	text-transform: uppercase;
	line-height:1em;
	color:white;
	margin-bottom: 60px;
}

#accordion {
	margin-top:-15px;
}

#overlay-headline-panel > div > div > h1 > a:nth-child(1),
#overlay-headline-panel > div > div > h1 > a.smooth-scroll.reverse,
#overlay-headline-panel > div > div > h1 > span {
	font-family:"Antenna Thin", sans-serif !important;
	font-size:0.7em;
	color:white !important;
}

#overlay-headline-panel {
	padding: 5px 0 !important;
}

#overlay-headline-panel > div > div > h1 > a {
	float:right !important;
	font-size:0.5em !important;
	display:block;
	right:0;
	position:absolute;
}

#overlay-headline-panel > div > div {
	padding-bottom: 10px;
	margin-top: -7px;
}

p.body {
	color:white;
}

div.col-md-3.p-r-0 > img {
	height:500px;
	width:auto;
}

#parallax-panel-twelve > div > div > div.col-md-3.p-r-0.canvas-parallax-panel-padding > img,
#parallax-panel-six > div > div > div.col-md-3.p-r-0.canvas-parallax-panel-padding > img {
	height:auto;
}

p.caption {
	color:white;
	font-style:italic;
}

ul {
	color:white;
}

#parallax-panel-ten {
	height:500px;
}

#parallax-panel-ten .scroll {
	height:210px;
	overflow:scroll;
}

#parallax-panel-twelve .scroll {
	height:210px;
	overflow:visible;
}

#parallax-panel-twelve #accordion {
	margin-top:20px;
}

#parallax-panel-eight > div > div > div.col-md-9.p-l-0.canvas-parallax-panel-padding > a {
	color:#eaaa00 !important;
}

#accordion > div > div.panel-heading > h4 > a {
	color:white;
	font-family:"Antenna Light", sans-serif !important;
}

#accordion > div:nth-child(1) > div.panel-heading > h4 > a > span > img {
	color:white !important;
}

.top {
	height:500px;
	background-color:red;
}


/*  FO on ILF above  ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* MEDIA QUERIES */
/* ==============================================*/


@media all and (min-device-width : 768px) and (max-device-width : 1024px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 50px 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.slide12 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width,
.slide12 #aruppe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

.slide4 #arrupe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

}

@media all and (min-width : 768px) and (max-width : 1024px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 50px 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.slide12 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width,
.slide12 #aruppe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

.slide4 #arrupe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

}

@media all and (min-device-width : 320px) and (max-device-width : 767px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width { margin-left: 0; width: 100%; }

.slide4 #arrupe-panel .span6.full-width { margin-left: 0; width: 100%; }

section.arrupe-introducton .image-mobile { margin: 0 0 -5px; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; background-color: #FFFFFF; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

}
