/* SLIDES STYLING */
/* ==============================================*/

.bg-arrupe-dark { background-color: rgba(0,0,0,0); }

.arrupe-padding-intro {
	background: url('../images/pattern-spiration-light.png') #e2e2e2;
	background-color: #e2e2e2;
}

.desaturate {
	-webkit-filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-ms-filter: grayscale(70%);
	filter: grayscale(70%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.slide1{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #481123;
	height: 500px;
	z-index: 9000;
}

/* intro panel */
.slide2{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: 500px;
	z-index: 9001;
}

.slide3{
	background: url('../images/basilica.jpg') 50% 0 no-repeat fixed;
	height: 700px;
	padding: 0;
	background-size: cover;
}

/* panel 2 */
.slide4{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: 500px;
	z-index: 9002;
}

.slide5{
	background: url('../images/woman-arch-b.jpg') 50% 0 no-repeat fixed;
	height: 700px;
	padding: 0;
	background-size: cover;
}

/* panel 3 */
.slide6{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: 500px;
	z-index: 9003;
}

.slide7{
	background: url('../images/table-group-c.jpg') 50% 0 no-repeat fixed;
	height: 700px;
	padding: 0;
	background-size: cover;
}

/* panel 4 */
.slide8{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: auto;
	z-index: 9004;
}

.slide9{
	background: url('../images/balcony.jpg') 50% 0 no-repeat fixed;
	height: 700px;
	padding: 0;
	background-size: cover;
}

/* panel 5 */
.slide10{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: auto;
	z-index: 9005;
}

.slide11{
	// background: url('../images/05-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 6 */
.slide12{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: 700px;
	z-index: 9006;
}

.slide13{
	background: url('../images/basilica.jpg') 50% 0 no-repeat fixed;
	height: 700px;
	padding: 0;
	background-size: cover;
}

/* panel 7 */
.slide14{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: auto;
	z-index: 9007;
}

.slide15{
	// background: url('../images/07-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 500px;
	padding: 0;
	background-size: cover;
}

/* panel 8 */
.slide16{
	// background: url('../images/pattern-spiration-light.png');
	background-color: #922247;
	height: auto;
	z-index: 9008;
}

.slidenews{

	background-color:#666;
	height: auto;
	z-index: 9001;
}

section.arrupe-introduction .image-mobile img, .image-mobile { display: none; }


/*.slide1, .slide3, .slide5, .slide7, .slide9, .slide11, .slide13, .slide15 {
	background: url('http://placehold.it/1000x560') 50% 0 no-repeat fixed;
	background-color: #cccccc;
}*/

.image-mobile img { background-color: #cccccc; }




/*  FO on ILF below  ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#parallax-panel-two h1 span,
#parallax-panel-four h1 span,
#parallax-panel-six h1 span,
#parallax-panel-eight h1 span,
#parallax-panel-ten h1 span,
#parallax-panel-twelve h1 span,
#parallax-panel-fourteen h1 span {
	font-family:"Antenna Light", sans-serif !important;
	font-weight:100;
	text-transform: none;
	color:white;
	font-size:1em;
	line-height:1.3em;
}

#parallax-panel-two h1,
#parallax-panel-four h1,
#parallax-panel-six h1,
#parallax-panel-eight h1,
#parallax-panel-ten h1,
#parallax-panel-twelve h1,
#parallax-panel-fourteen h1 {
	font-family:"Antenna Bold", sans-serif !important;
	font-weight:500;
	text-transform: initial;
	line-height:1em;
	color:white;
	font-size:2.5em;
	line-height:1.3em;
	margin-bottom: 40px;
}

#accordion {
	margin-top:-15px;
}

#overlay-headline-panel > div > div > h1 > a:nth-child(1),
#overlay-headline-panel > div > div > h1 > a.smooth-scroll.reverse,
#overlay-headline-panel > div > div > h1 > span {
	font-family:"Antenna Thin", sans-serif !important;
	font-size:0.7em;
	color:white !important;
}

#overlay-headline-panel {
	padding: 5px 0 !important;
}

#overlay-headline-panel > div > div > h1 > a {
	float:right !important;
	font-size:0.5em !important;
	display:block;
	right:0;
	position:absolute;
}

#overlay-headline-panel > div > div {
	padding-bottom: 10px;
	margin-top: -7px;
}

p.body {
	color:#bcbcbc;
	font-size: 1.075em;
  line-height: 2;
}

#parallax-panel-two,
#parallax-panel-four,
#parallax-panel-six,
#parallax-panel-eight,
#parallax-panel-ten,
#parallax-panel-twelve,
#parallax-panel-fourteen {
	height:auto;
	overflow:hidden;
	background-image:url("../images/vertical-knot-dark-taller.png");
	background-repeat:no-repeat;
	background-size:17%;
	background-position: 85% 50%;
}

p.caption {
	color:#aaaaaa;
	font-style:italic;
}

ul,
ol {
	color:#bcbcbc;
}

#parallax-panel-twelve #accordion {
	margin-top:20px;
}

#parallax-panel-eight > div > div > div.col-md-9.p-l-0.canvas-parallax-panel-padding > a,
#parallax-panel-eight > div > div > div.col-md-9.p-l-0.canvas-parallax-panel-padding > p > a {
	color:#eaaa00 !important;
	cursor: pointer;
	letter-spacing: 0.9px;
}

#accordion > div > div.panel-heading > h4 > a {
	color:#e1e1e1;
	font-family:"Antenna Light", sans-serif !important;
	letter-spacing: 0.05em;
}

#slide1 > img {
	width: auto;
	margin-left: auto !important;
	margin-right: auto !important;
}

#accordion.panel-group .panel {
	border-top: 1px solid #aaaaaa !important;
}

#parallax-panel-two > div > div.col-md-9.p-l-0.canvas-parallax-panel-padding > p {
	font-family:"Antenna Light", sans-serif !important;
	font-size:1.1em;
	line-height:2;
	color:white;
	margin-bottom: 20px;
}

#slide1 > div.holder > div {
	display: block;
  width: 23%;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
}

ul li,
ol li {
	list-style-position: outside;
}

#parallax-panel-eight ol li a {
	color:#eeb111;
	margin-left:0px;
}

#parallax-panel-eight p a:hover,
#parallax-panel-eight ol li a:hover {
	background:none;
	color:#F4CC64;
}

#contact {
	margin-left:25px;
	color:#ececec;
	margin-top: 10px;
	margin-bottom: 10px;
}

#slide1 > div.holder > div > img {
	height: 100%;
	width: auto;
	margin-top: 20px;
}

#parallax-panel-four #accordion {
	margin-top:15px;
	margin-left: 30px;
}

#parallax-panel-four #accordion > div:nth-child(1) {
	border-top: none !important;
}

#parallax-panel-six #accordion {
	margin-top:40px;
	margin-bottom:230px;
}

#slide1 .scroller img {
  height: 15px;
	width:auto;
	color:#bcbcbc;
	margin-left:auto;
	margin-right:auto;
	margin-top:3px !important;
}

#slide1 .scroller {
	height: 60px;
  text-align: center;
	color:#bcbcbc;
	font-family:"Antenna Light", sans-serif;
	font-size:0.7em;
  letter-spacing: 0.075em;
	margin-left:auto;
	margin-right:auto;
}

#slide1 > div.holder > div.scroller > img {
	width:6%;
	height:auto;
  margin-top: 3px !important;
}

.holder {
	height:375px;
}

.vcard {
	float: left;
  padding: 15px 10px 15px 0;
  font-family: "myriad-pro", sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: #525252;
	margin-top: 10px;
}

#footer-address > div > div > div.col-sm-3 > a > img {
  width: 80%;
}

#parallax-panel-four h4 {
	font-family: "Antenna Light", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 25px;
}

#wordmark {
	width: 90%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#accordion > div > div.panel-heading > h4 {
	font-size: 0.84em;
}

#accordion > div:nth-child(3) > div.panel-heading {
	margin-bottom: 25px;
}

#collapse-numero-tres > div > p {
	margin-top: -25px;
}

#wrapper > div:last-child {
	display:none;
}

#accordion p.body {
	font-size: 0.975em;
}

// #parallax-panel-six > div > div.col-md-3.p-r-0 {
// 	padding-top:70px;
// }

#parallax-panel-six blockquote,
#parallax-panel-six cite {
	color:white;
}

blockquote {
	font-family: "Antenna Light", sans-serif;
	margin-top: 80px !important;
	padding-top:100px !important;
}

#parallax-panel-six div.col-md-3 {
	padding-left:50px !important;
}





/*  FO on ILF above  ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* MEDIA QUERIES */
/* ==============================================*/


@media all and (min-device-width : 768px) and (max-device-width : 1024px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 50px 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.slide12 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width,
.slide12 #aruppe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

.slide4 #arrupe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

}

@media all and (min-width : 768px) and (max-width : 1024px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 50px 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.slide12 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width,
.slide12 #aruppe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

.slide4 #arrupe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

}

@media all and (min-device-width : 320px) and (max-device-width : 767px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width { margin-left: 0; width: 100%; }

.slide4 #arrupe-panel .span6.full-width { margin-left: 0; width: 100%; }

section.arrupe-introducton .image-mobile { margin: 0 0 -5px; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; background-color: #FFFFFF; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

}
