
<div class="container-fluid" id="header">
	<div class="container">
		<div class="row">
			<div id="wordmark-wrapper" class="col-sm-6">
<!-- <h1 class="text-muted" style="display: none; position: fixed;">Loyola University Chicago</h1> -->
				<a href="http://www.luc.edu"><img class="img-responsive" id="wordmark" src="http://www.luc.edu/media/home/images/luc-logo.png" /></a>
			</div>
			<div id="global-form-wrapper" class="col-md-4 col-sm-6 col-md-offset-2">
				<div class="row">
					<nav id="global" class="navbar navbar-inverse">
						<div id="navbar-global">
							<ul class="nav navbar-nav" id="global-links" role="navigation">
								<li><a href="http://www.luc.edu/a-z/index.html">A&ndash;Z</a></li>
								<li><a href="http://www.luc.edu/about/contactus.shtml">Contact</a></li>
								<li><a href="http://www.luc.edu/directories/index.shtml">Directories</a></li>
								<li><a href="http://www.luc.edu/locus/">LOCUS</a></li>
								<li><a href="http://www.luc.edu/give/">Support</a></li>
							</ul>
						</div>
<!-- NAVBAR-GLOBAL -->
					</nav>
				</div>
      </div>
			</div>
<!-- GLOBAL-FORM-WRAPPER -->
		</div>
	</div>
