<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-eight" class="container-fluid bg-white canvas-parallax-panel slide8">
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-9 p-l-0 canvas-parallax-panel-padding">
				<h1 class="display"><span class="thin">Apply and Contact</span></h1>

				<p class="body">
					Applicants are invited to apply now to begin the program later this year.
				</p>

				<ol>
					<li>
						<a href="images/ilf-application.pdf" class="cta" download> Download the PDF application</a>
					</li>
					<li>
						Print and complete the application form.
					</li>
					<li>
						Submit the application, along with your resume to:<br>
						<div id="contact">
						Mariann Salisbury<br>
						Loyola University Chicago<br>
						Lewis Towers 630<br>
						820 N. Michigan Avenue<br>
						Chicago, IL 60611<br>
						</div>
					</li>
				</ol>

				<p class="body">
					For questions, please call Mariann Salisbury at 301-807-5369 or email <a href="mailto:msalisbury1@luc.edu" class="cta">msalisbury1@luc.edu</a>
				</p>

			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
</div>
