<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-six" class="container-fluid bg-white canvas-parallax-panel slide6">
	<div class="container">
		<div class="row">
			<div class="col-md-9 p-l-0 canvas-parallax-panel-padding">
				<h1 class="display"> <span class="thin">Who Should</span><br> Participate?</h1>
				<ul>
					<li class="body">C-suite executives, organizational leaders and nonprofit executives nearing or in retirement who want to use their accumulated skills and expertise in service of others</li>
					<li class="body">Jesuit educated leaders looking to reconnect with their Jesuit roots in retirement</li>
					<li class="body">Participants of all faiths are welcome and encouraged</li>
				</ul>
			</div>
			<div class="col-md-3 p-r-0">
			</div>
		</div>
	</div>
</div>
