<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-twelve" class="container-fluid bg-white canvas-parallax-panel slide12">
	<div class="container canvas-parallax-panel-padding">
		<h1 class="display"><span class="thin">Your</span> Journey</h1>
		<div class="col-md-12">
			<div class="col-md-6 p-l-0">
				<p class="body">The program’s three-part exploration moves leaders in a 20-person cohort from worldly concerns of commerce and competition toward the burgeoning spiritual concerns of retirement in the third chapter of life: service to family, community, posterity and God.</p>
			</div>
		<div class="col-md-6">
			<div class="panel-group accord-blk" id="accordion">

			  <div class="panel">
			    <div class="panel-heading">
			      <h4 class="subhead uppercase">
			        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-numero-uno">
			          The Inward Journey
			          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
			        </a>
			      </h4>
			    </div><!-- panel-heading -->
			    <div id="collapse-numero-uno" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p class="body">
								The journey begins with personal reflection and meditations that help participants better understand themselves and where their lives are calling them. Through guided spiritual direction, the first sessions borrow from the Exercises’ Jesuit meditation practice. Participants deepen their respect for their interior lives through contemplation and prayer to become, in St. Ignatius’s words, “contemplatives in action.”
			        </p>
			      </div>
			    </div><!-- panel-collapse -->
			  </div><!-- panel -->

			  <div class="panel">
			    <div class="panel-heading">
			      <h4 class="subhead uppercase">
			        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-numero-dos">
			          Communing with Others
			          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
			        </a>
			      </h4>
			    </div><!-- panel-heading -->
			    <div id="collapse-numero-dos" class="panel-collapse collapse">
			      <div class="panel-body">
			          <p class="body">
									The journey continues through group interactions that help participants discover new ways of understanding and directing their life experiences to support causes and programs beyond their current spheres. They share their stories and contemplations with their spiritual directors and other participants by discussing readings and reflections.
			          </p>
			      </div>
			    </div><!-- panel-collapse -->
			  </div><!-- panel -->

				<div class="panel">
					<div class="panel-heading">
						<h4 class="subhead uppercase">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-numero-tres">
								Turning Outward
								<span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
							</a>
						</h4>
					</div><!-- panel-heading -->
					<div id="collapse-numero-tres" class="panel-collapse collapse">
						<div class="panel-body">
								<p class="body">
									In the final stage of this journey, participants turn outward toward the broader community as they better understand the underlying theology that supports the mission of faith-based institutions such as hospitals, universities, schools, and social programs. Each segment of our travels will introduce participants to institutional and mission leaders, with opportunities for dialogue about their current organizational challenges that will invite engagement and consultation from the wealth of experience and wisdom of the participants. Through these interactions, legacy fellows learn about the threats and opportunities confronting these mission-driven institutions, in order to apply their own expertise in management, marketing, organizational development, fundraising, and strategic planning to meet these challenges.
								</p>
						</div>
					</div><!-- panel-collapse -->
				</div><!-- panel -->

			</div>
	</div>

		</div>
	</div>
</div>

<script>
$(function () {
$('.carousel').carousel({
interval: false
});
});

$(".carousel").swipe({
swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
if (direction == 'left') $(this).carousel('next');
if (direction == 'right') $(this).carousel('prev');
},
allowPageScroll:"vertical"
});

$('.carousel-split').each(function() {
var carouselSelect = $(this);
var totalItems = carouselSelect.find('.item').length;
var currentIndex = carouselSelect.find('div.active').index() + 1;
$('.counter').html(''+currentIndex+'/'+totalItems+'');
$('.carousel').on('slid.bs.carousel', function () {
currentIndex = $('div.active').index() + 1;
$('.counter').html(''+currentIndex+'/'+totalItems+'');
});
});

</script>
