<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-two" class="container-fluid bg-white canvas-parallax-panel slide2">
	<div class="container">
			<div class="col-md-9 p-l-0 canvas-parallax-panel-padding">
				<h1 class="display"> <span class="thin">Imagine Your</span> Future</h1>
				<p class="intro">The Ignatian Legacy Leaders Fellows Program is an invitation to imagine your future. Look back on your career in leadership and mine from those experiences to determine your next step, all while deepening your faith journey. Who can benefit from the wisdom and skills that you have acquired?</p>
				<!-- <p class="body">Now is your time to examine the world’s problems and address them–through the eyes of Jesuit network leaders who are grappling with those problems. Together we’ll discover Jesuit responses to poverty, injustice, the impacts of technology, the need for entrepreneurship, and sustainability. You will be exposed to “best thinking” while deciding where you want to invest your legacy leadership.</p> -->
			</div>
			<div class="col-md-3 p-r-0">
				<img class="p-0 m-0" src="images/vertical-knot-dark.png">
			</div>
		</div>
	</div>
</div>
