<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-six" class="container-fluid bg-white canvas-parallax-panel slide6">
	<div class="container canvas-parallax-panel-padding">
		<div class="col-md-12">
			<h1 class="display"> <span class="thin">Who Should</span> Participate?</h1>
			<div class="col-md-6 p-l-0">
				<ul>
					<li class="body">C-suite executives, organizational leaders and nonprofit executives nearing or in retirement who want to use their accumulated skills and expertise in service of others</li>
					<li class="body">Jesuit educated leaders looking to reconnect with their Jesuit roots in retirement</li>
					<li class="body">Participants of all faiths are welcome and encouraged</li>
				</ul>
			</div>
			<div class="col-md-6 p-r-0">
					<img src="http://placehold.it/1000x560"/>
					<p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.</p>
			</div>
		</div>
	</div>
</div>
