<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-four" class="container-fluid bg-white canvas-parallax-panel slide4">
	<div class="container canvas-parallax-panel-padding">
		<div class="col-md-12">
			<h1 class="display"><span class="thin">Program</span><br> Overview </h1>
			<div class="col-md-6 p-l-0">
				<p class="body">The Ignatian Legacy Leaders Program is a yearlong program that includes personal reflection, guided meditation, spiritual readings and discussion, and volunteer service – all pointed towards helping participants better understand where they might be called to use their gifts in service of others.</p>

				<p class="body m-t-20">Four-day retreat sessions are held every two months. These highly dialogical and interactive sessions encourage participants to discuss theological texts, engage with thought-provoking speakers, and share life experiences. Journaling, online reading, and response work complement the learning. </p>
			</div>
			<div class="col-md-6 p-r-0">
					<p class="body">In addition to these retreat sessions, participants will also embark on a service immersion trip to a Jesuit mission in Lima, Peru. The program culminates with a pilgrimage to Spain, to visit Barcelona, St. Ignatius’ birthplace, and Manresa, where he wrote the Spiritual Exercises.</p>
			</div>
		</div>
	</div>
</div>
