<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-two" class="container-fluid bg-white canvas-parallax-panel slide2">
	<div class="container">
			<div class="col-md-9 p-l-0 canvas-parallax-panel-padding">
				<h1 class="display"> <span class="thin">Do you want to create an</span> intentional <span class="thin"> and</span> meaningful <span class="thin">retirement? </span></h1>
				<p class="intro">Will you go it alone or would you like to accompany a cohort of Ignatian Legacy Fellows as they engage in a transition process to the third chapter of their lives?</p>
				<p class="intro">The Ignatian Legacy Leaders Program is a yearlong program that includes personal reflection, guided meditation, spiritual readings and discussion, and volunteer service – all pointed towards helping participants better understand where they might be called to use their gifts in service of others.</p>
			</div>
			<div class="col-md-3 p-r-0">
			</div>
		</div>
	</div>
</div>
