<!-- SLIDE 1 - LEAD ----------------------------------->
<!-- SLIDE 1 - IMAGE ----------------------------------->

<section id="slide1" class="bg-gray-dark">
	<div id="slide1" class="container-fluid p-0" style="background-color:#922247;">

		<div id="overlay-headline-panel" class="container-fluid">
			<div class="container">
				<div class="col-md-12 overlay-headline">
					<h1 class="uppercase">
						<a class="reverse" href="#parallax-panel-eight">APPLY FOR FALL 2018 &nbsp; &#124; &nbsp; CONTACT US</a>
					</h1>
				</div>
			</div>
		</div>

		<div class="holder">
			<div class="banner">
						<img src="images/knot-logo-ko.png">
			</div>
		</div>

	</div>
	<div class="container-fluid" style="padding:0;">
		<img src="images/mixer.jpg" style="margin:0;">
	</div>
</section>
