<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-eight" class="container-fluid bg-white canvas-parallax-panel slide8">
	<div class="container canvas-parallax-panel-padding">
		<div class="col-md-12">
			<h1 class="display">Apply</h1>
			<div class="col-md-6 p-l-0">
				<p class="body">Applicants are invited to apply now to begin the program in the fall of 2018. Participants are invited after submitting a brief resume and letter of intention.</p>
				<p class="body"><span style="color:red;">At the conclusion of the year’s program, ILF participants will be</span><br>
					<a class="cta"> Download the application PDF</a></p>
			</div>
			<div class="col-md-6 p-r-0">
					<p class="body">At the conclusion of the program, participants are invited to become a member of the Society of Ignatian Fellows, a forum for the exchange of ideas and sharing in the spirituality that ground the aims and mission of the Society of Jesus and its works.</p>
			</div>
		</div>
	</div>
</div>
