<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-eight" class="container-fluid bg-white canvas-parallax-panel slide8">
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-9 p-l-0 canvas-parallax-panel-padding">
				<h1 class="display">Apply</h1>
				<p class="body">Applicants can apply now to begin the program in the fall of 2018. Participants are invited after submitting a brief resume and letter of intention.</p>
				<p class="body">At the conclusion of the program, participants are invited to become a member of the Society of Ignatian Fellows, a forum for the exchange of ideas and sharing in the spirituality that ground the aims and mission of the Society of Jesus and its works.</p>
				<a class="cta m-l-0"> Download the application PDF</a></p>
			</div>
			<div class="col-md-3 p-r-0">
				<img class="p-0 m-0" src="images/vertical-knot-dark.png">
			</div>
		</div>
	</div>
</div>
