<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-fourteen" class="container-fluid bg-white canvas-parallax-panel slide14">
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-9 p-l-0 canvas-parallax-panel-padding">
				<h1 class="display">Contact</h1>
				<p class="body">
					<strong>Mariann McCorkle Salisbury</strong> <br>
					Co-Director, Ignatian Legacy Fellows Program <br>
					Institute of Pastoral Studies <br>
					Loyola University Chicago <br>
					301.807.5369 <br>
					msalisbury1@luc.edu <br>
				</p>
			</div>

			<div class="col-md-3 p-r-0">
			</div>

		</div>
	</div>
</div>
