<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-four" class="container-fluid bg-white canvas-parallax-panel slide4">
	<div class="container">
			<div class="col-md-9 canvas-parallax-panel-padding p-l-0">
				<h1 class="display"><span class="thin">About</span></h1>

				<h4 class="reverse">Approach</h4>
					<p class="body">The Ignatian Legacy Fellows program takes its shape from the plan of the Spiritual Exercises of St. Ignatius—preparing oneself spiritually, intellectually, and professionally.</p>
				<h4 class="reverse" style="font-size:'Antenna Light', sans-serif !important;">Participants</h4>
					<p class="body">C-suite executives, organizational leaders, and nonprofit executives nearing or in retirement, who want to use their accumulated skills and expertise in service of others, regardless of their faith tradition</p>
				<h4 class="reverse">Schedule</h4>
					<p class="body">Four-day retreat sessions are held every two months. A full schedule of the six retreat sessions will be sent to those who apply. Four weekends are within the USA. Two additional weeks involve travel to Lima, Peru, to visit the work of the Jesuits in that country and the final experience for the Fellows will be a pilgrimage to Spain and Rome.</p>
					<h4 class="reverse">Schedule</h4>
						<p class="body">Four-day retreat sessions are held every two months. A full schedule of the six retreat sessions will be sent to those who apply. Four weekends are within the USA. Two additional weeks involve travel to Lima, Peru, to visit the work of the Jesuits in that country and the final experience for the Fellows will be a pilgrimage to Spain and Rome.</p>

				<div class="panel-group accord-blk scroll" id="accordion">

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="subhead uppercase">
				        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-numero-uno">
				          Spiritual Guidance
				          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow-white.png"></span>
				        </a>
				      </h4>
				    </div><!-- panel-heading -->
				    <div id="collapse-numero-uno" class="panel-collapse collapse">
				      <div class="panel-body">
				        <p class="body">
									The Exercises are designed to assist the individual facing an important life-decision. They begin with and build upon a careful examination of one’s life experiences and interior life. They encourage a careful examination of one’s motives and values. They foster the interior freedom that allows one to move forward with gratitude for one’s past and a deepening of one’s commitments toward the future. Expert guides are provided for the newcomer to the Exercises.
				        </p>
				      </div>
				    </div><!-- panel-collapse -->
				  </div><!-- panel -->

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="subhead uppercase">
				        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-numero-dos">
				          Intellectual Stimulation
				          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow-white.png"></span>
				        </a>
				      </h4>
				    </div><!-- panel-heading -->
				    <div id="collapse-numero-dos" class="panel-collapse collapse">
				      <div class="panel-body">
				          <p class="body">
										The highly dialogical and interactive sessions encourage participants to engage assigned readings and the presentations of thought-provoking speakers, as well as discussions with faculty and students.
				          </p>
				      </div>
				    </div><!-- panel-collapse -->
				  </div><!-- panel -->

					<div class="panel">
						<div class="panel-heading">
							<h4 class="subhead uppercase">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-numero-tres">
									Sharing Professional Expertise
									<span class="accordion-icon"><img src="images/luc-edu-accordion-arrow-white.png"></span>
								</a>
							</h4>
						</div><!-- panel-heading -->
						<div id="collapse-numero-tres" class="panel-collapse collapse">
							<div class="panel-body">
									<p class="body">
										Each of the weekend sessions is composed of visits to programs dealing with the significant issues of the day, and especially with the training of young leaders. How are the Jesuits attempting to prepare men and women dedicated to the common good as opposed to a narrow focus on personal benefit? What are the obstacles to accomplishing this and maintaining programs that foster a new kind of civic leader?									</p>
									</p>
							</div>
						</div><!-- panel-collapse -->
					</div><!-- panel -->

				</div><!-- panel-group -->


			</div>
			<div class="col-md-3 p-r-0">
			</div>
	</div>
</div>

<script>
$(function () {
$('.carousel').carousel({
interval: false
});
});

$(".carousel").swipe({
swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
if (direction == 'left') $(this).carousel('next');
if (direction == 'right') $(this).carousel('prev');
},
allowPageScroll:"vertical"
});

$('.carousel-split').each(function() {
var carouselSelect = $(this);
var totalItems = carouselSelect.find('.item').length;
var currentIndex = carouselSelect.find('div.active').index() + 1;
$('.counter').html(''+currentIndex+'/'+totalItems+'');
$('.carousel').on('slid.bs.carousel', function () {
currentIndex = $('div.active').index() + 1;
$('.counter').html(''+currentIndex+'/'+totalItems+'');
});
});

</script>
