<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-six" class="container-fluid bg-white canvas-parallax-panel slide6">
	<div class="container">
		<div class="col-md-9 canvas-parallax-panel-padding p-l-0">
			<h1 class="display"> <span class="thin">The Journey</span><br></h1>
				<p class="body">
					Moving away from the world of daily responsibilities of management and leadership, Ignatian Legacy Fellows come together six times over the course of a calendar year to explore the meaning of retirement and the opportunities that lie ahead.
				</p>


				<!-- accordion - journey -->

	      <div id="accordion-ilf-journey" class="">
	        <h4 class="accordion-ilf">The Journey involves a turn inward</h4>
	        <div class="panel-ilf">
	          <p class="body">
							It begins with personal reflection and a chance to explore with others on a similar journey how God has acted in one’s life and how God may be calling us toward a new chapter that involves sharing one’s time and talent with those in need. Using the Spiritual Exercises of St. Ignatius, Fellows, with the guidance of experts in spiritual direction, will have the opportunity to deepen their own spiritual lives at this critical juncture in their own journey.
	          </p>
	        </div>
	        <h4 class="accordion-ilf">The Journey involves moving with a cohort of fellow leaders</h4>
	        <div class="panel-ilf">
	          <p class="body">
							Ignatian Legacy Fellows will be not only engaging with one another, but will be learning the theological and spiritual roots that underlie the faith-based works of Jesuits in education, health care, and social welfare, as well as the international dimensions of the work of the Society of Jesus.
						</p>
	        </div>
	        <h4 class="accordion-ilf">The Journey involves turning toward the broader community</h4>
	        <div class="panel-ilf">
	          <p class="body">
							Together, the Fellows and the local leaders of faith-based programs will share insights, opportunities, and strategies for handling today’s leadership challenges based on their own experience in management, marketing, organizational development, fundraising, and strategic planning. Each of the six sessions is designed to introduce the cohort to the issues and concerns faced by the leadership of these institutions and programs.
						</p>
	        </div>
	      </div>

	      <!-- accordion - about - end -->


			<p class="body">
				At the conclusion of the yearlong program, Ignatian Legacy Fellows will be invited to become members of the Society of Ignatian Fellows, an ongoing forum for the exchange of ideas in the spirituality and mission of the Society of Jesus and its works.
			</p>

		</div> <!-- col-md-9 -->
		<div class="col-md-3 p-r-0">
			<blockquote class="blockquote-standard display uppercase">
				<!-- <div class="open-quote">&lsquo;</div> -->
				&ldquo;Blockquote could go here if desired. Lorem ipsum dei gloriam.&rdquo;
			</blockquote>
			<cite class="cite-standard m-t-0 m-b-0">— Someone Namehere</cite>
		</div>
	</div>
</div>
