<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-two" class="container-fluid bg-white canvas-parallax-panel slide2">
	<div class="container canvas-parallax-panel-padding">
		<div class="col-md-12">
			<h1 class="display"> <span class="thin">Imagine Your</span> Future</h1>
			<div class="col-md-6 p-l-0">
				<p class="body">The Ignatian Legacy Leaders Fellowship Program is an invitation to imagine your future. Look back on your career in leadership and mine from those experiences to determine your next step, all while deepening your faith journey. Who can benefit from the wisdom and skills that you have acquired?</p>
			</div>
			<div class="col-md-6 p-r-0">
					<p class="body">Now is your time to examine the world’s problems and address them–through the eyes of Jesu it network leaders who are grappling with those problems. Together we’ll dis cover Jesuit expressions on poverty, injustice, the impacts of technology, the need for entrepreneurship, and sustainability. You will be exposed to “best thinking” while deciding where you want to invest your legacy leadership.</p>
			</div>
		</div>
	</div>
</div>
