<!-- SLIDE 1 - LEAD ----------------------------------->
<!-- SLIDE 1 - IMAGE ----------------------------------->

<section id="slide1" class="bg-gray-dark">
	<div id="slide1" class="container-fluid p-0">
		<img class="identity" src="images/knot-logo-ko.png.png">
		<div id="overlay-headline-panel" class="container-fluid">
			<div class="container">
				<div class="col-md-12 overlay-headline">
					<h1 class="uppercase">
						<a class="reverse" href="###">APPLY FOR FALL 2018 &nbsp; &#124; &nbsp; CONTACT US</a>						
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
