<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-ten" class="container-fluid bg-white canvas-parallax-panel slide10">
	<div class="container">
		<div class="col-md-9 p-l-0 canvas-parallax-panel-padding">
			<h1 class="display"><span class="thin">Rooted in the</span><br> Spiritual <span class="thin">Exercises</span> </h1>
				<div class="scroll">
					<p class="body">Using the Spiritual Exercises of Saint Ignatius Loyola as a model, this yearlong program offers an immersive experience. The Spiritual Exercises are the cornerstone of Ignatian Spirituality, and focus on a way of understanding and living one’s relationship with God in the world. St. Ignatius — founder of the Society of Jesus, the Jesuit order of priests — encouraged his community to go out to the margins to push the boundaries of understanding and engagement. </p>
					<p class="body">For 450 years, the Jesuits have built their brand on discerning and deciding ways to proceed at various stages of life by recognizing one’s gifts and the world’s needs, and how these two things intersect. Similarly, the Ignatian Legacy Fellowship Program invites participants to “collect themselves” and “move out” in mission to engage and transform themselves and the world.</p>
				</div>
		</div>
		<div class="col-md-3 p-r-0">
			<img class="p-0 m-0" src="images/vertical-knot-dark.png">
		</div>
	</div>
</div>
