<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-twelve" class="container-fluid bg-white canvas-parallax-panel slide12">
	<div class="container canvas-parallax-panel-padding">
		<h1 class="display">Your Journey</h1>
		<div class="col-md-12">
			<div class="col-md-6 p-l-0">
				<p class="body">The program’s three-part exploration moves leaders in a 20-person cohort from worldly concerns of commerce and competition toward the burgeoning spiritual concerns of retirement in the third chapter of life: service to family, community, posterity and God.</p>
			</div>
		<div class="col-md-12">
			<div class="panel-group accord-blk" id="accordion">

			  <div class="panel">
			    <div class="panel-heading">
			      <h4 class="subhead uppercase">
			        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#collapseAdmission">
			          Admission Requirements
			          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
			        </a>
			      </h4>
			    </div><!-- panel-heading -->
			    <div id="collapseAdmission" class="panel-collapse collapse">
			      <div class="panel-body">
			        <p class="body">
			          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
			        </p>
			      </div>
			    </div><!-- panel-collapse -->
			  </div><!-- panel -->

			  <div class="panel">
			    <div class="panel-heading">
			      <h4 class="subhead uppercase">
			        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#collapseDates">
			          Dates and Deadlines &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
			        </a>
			      </h4>
			    </div><!-- panel-heading -->
			    <div id="collapseDates" class="panel-collapse collapse">
			      <div class="panel-body">
			        <div class="col-md-6">
			          <p class="body small">
			            <span class="leadin">Anim pariatur cliche reprehenderit</span>
			          </p>
			        </div>
			        <div class="col-md-6">
			          <p class="body small">
			            <span class="leadin">Nihil anim keffiyeh helvetica</span>
			          </p>
			        </div>
			      </div>
			    </div><!-- panel-collapse -->
			  </div><!-- panel -->

			</div>
	</div>



			<!-- <div class="col-md-12">
				<h5 class="label m-b-20">Canvas panel headline here</h5>
				<p class="body">Our Centers of Excellence combine academics with action to address some of society’s largest challenges.</p>

				<div class="panel-group accord-blk" id="accordion">
					<div class="panel">
						<div class="panel-heading">
							<h4 class="subhead">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1">The Inward Journey <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
							</h4>
						</div>
						<div id="collapseOne-1" class="panel-collapse collapse">
							<div class="panel-body">
								<p class="body small">
									The journey begins with personal reflection and meditations that help participants better understand themselves and where their lives are calling them. Through guided spiritual direction, the first sessions borrow from the Exercises’ Jesuit meditation practice. Participants deepen their respect for their interior lives through contemplation and prayer to become, in St. Ignatius’s words, “contemplatives in action.”
							  </p>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<h4 class="subhead">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-2">Communing with Others <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
							</h4>
						</div>
						<div id="collapseTwo-2" class="panel-collapse collapse">
							<div class="panel-body">
								<p class="body small">
									The journey continues through group interactions that help participants discover new ways of understanding and directing their life experiences to support causes and programs beyond their current spheres. They share their stories and contemplations with their spiritual directors and other participants by discussing readings and reflections.
								</p>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<h4 class="subhead">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-3">Turning Outward <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a>
							</h4>
						</div>
						<div id="collapseThree-3" class="panel-collapse collapse">
							<div class="panel-body">
								<p class="body small">
									In the final stage of this journey, participants turn outward toward the broader community as they better understand the underlying theology that supports the mission of faith-based institutions such as hospitals, universities, schools and social programs. Each segment of our travels will introduce participants to institutional and mission leaders, with opportunities for dialogue about their current organizational challenges that will invite engagement and consultation from the wealth of experience and wisdom of the participants. Through these interactions, legacy fellows learn about the threats and opportunities confronting these mission-driven institutions, in order to apply their own expertise in management, marketing, organizational development, fundraising and strategic planning to meet these challenges.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div> -->

		</div>
	</div>
</div>
